* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: #395078;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 10px 60px;
    border-radius: 30px;
    font-size: 22px;
    font-weight: bold;
    color: black;
    background: #fff;
    cursor: pointer;
}

.btn:active {
    opacity: 0.7;
}

.popup {
    width: 400px;
    background: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    padding: 0 30px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    visibility: hidden;
    transition: transform 0.2s ease;
}

.show-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 80px;
    margin-top: -40px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 32px;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    padding: 10px 0;
    margin: 30px 0 0;
    border-radius: 5px;
    color: white;
    background: #6FD649;
    font-weight: bold;
    cursor: pointer;
}

.popup button:active {
    opacity: 0.8;
}

@media screen and (max-width: 425px) {
    .popup {
        width: 330px;
    }

}

@media screen and (max-width: 330px) {
    .popup {
        width: 290px;
    }

}